@import url("./fonts/montserrat.css");

:root {
    --primary-1: #386fa4;
    --primary-2: #59A5D8;

    --grey-1: #1A1B1E;
    --grey-2: #2B2D31;
    --grey-25: #27282b;
    --grey-3: #43444B;

    --success: #14A44D;
    --success-2: #1c6e3d;
    --warning: #E4A11B;
    --warning-2: #a1761f;
    --danger: #DC4C64;
    --danger-2: #9e3c4d;

    --text-color: #fefefe;
    --text-color-2: #9e9e9e;

    --dragheight: 35px;

    color-scheme: dark light;
    background-color: #1A1B1E;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    font-family: Montserrat, sans-serif;

    color: var(--text-color);

    overflow: hidden;
}

body.login {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    .loginbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin: 0;
        margin-bottom: 20px;
    }

    #mainLoader {
        --wh: 150px;
        height: var(--wh);
        width: var(--wh);
    }

    .bottomRow {
        position: absolute;
        bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        button {
            color: var(--primary-2);
            font-weight: 600;
        }
    }

    p {
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
    }
}

button:focus-visible,
input:focus-visible,
select:focus-visible {
    outline: var(--primary-1) solid 3px;
}

select {
    border-right: 16px solid transparent;
    font-family: Montserrat, sans-serif;
}

button,
a.button {
    background-color: var(--grey-2);
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    border: none;

    padding: 10px 13px;
    border-radius: 7px;

    transition: filter .2s ease-in-out;

    &:hover {
        cursor: pointer;
        filter: brightness(.85);
    }

    &:disabled {
        filter: brightness(0.6);

        &:hover {
            cursor: default;
        }
    }

    &.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;

        svg {
            height: 25px;
            width: 25px;
            // margin-right: 7px;
        }

        &.icon-smol {
            svg {
                height: 20px;
                width: 20px;
                min-height: 20px;
                min-width: 20px;
            }
        }
    }

    &.green,
    &.success {
        background-color: var(--success);
    }

    &.yellow,
    &.warning {
        background-color: var(--warning);
    }

    &.red,
    &.danger {
        background-color: var(--danger);
    }

    &.blue {
        background-color: var(--primary-1);
        font-weight: 500;
    }

    &.clear {
        background-color: transparent;
        color: var(--text-color);
        font-size: inherit;
        font-weight: inherit;
        border: none;
        outline: none;
        padding: 0;
    }

    &.bluetext {
        color: var(--primary-2);
    }

    &.redhover:hover {
        background-color: var(--danger);
    }
}

.buttonrow {
    display: flex;
    align-items: center;
    gap: 15px;
}

input {
    background-color: var(--grey-2);
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.dragbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--dragheight);
    background-color: var(--grey-1);
    z-index: 20;

    -webkit-app-region: drag;

    &._hidden {
        display: none;
    }

    .title {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 10px;

        h3 {
            color: var(--white-1);
            font-size: 14px;
            margin: 0;
            font-weight: 500;
            transform: translate(0, -1px);
        }

        img {
            height: 18px;
            margin-right: 7px;
            margin-bottom: 1px;
        }
    }

    .btns {
        display: flex;
        justify-content: right;
        align-items: center;

        button {
            background-color: transparent;
            border: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: min-content;
            padding: 10px;
            transition: background-color 5ms ease-in-out;

            svg {
                height: 15px;
                width: 15px;

                path {
                    stroke: var(--white-1);
                }
            }

            -webkit-app-region: no-drag;

            &:hover {
                cursor: pointer;
                background-color: var(--grey-25);
            }

            &.close:hover {
                background-color: var(--danger);
            }

            &.close:focus-visible {
                background-color: var(--danger);
                border: none;
                outline: none;
            }

            &:focus-visible {
                background-color: var(--grey-25);
                border: none;
                outline: none;
            }
        }
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;

    background-color: rgba($color: #000000, $alpha: 0.8);

    display: none;
    align-items: center;
    justify-content: center;

    &._shown {
        display: flex;
    }

    .modalBox {
        position: relative;
        background-color: var(--grey-1);
        border-radius: 7px;
        padding: 20px;

        min-width: 30%;

        h2 {
            margin: 0;
            margin-bottom: 20px;
        }

        p {
            margin-top: 0;

            &:last-of-type {
                margin-bottom: 20px;
            }
        }

        .closebtn {
            position: absolute;
            top: 15px;
            right: 15px;

            padding: 0;
            border-radius: 0;

            background-color: transparent;

            svg {
                height: 20px;
                width: 20px;
                background-color: transparent;
            }
        }

        &.form {
            display: flex;
            flex-direction: column;

            input,
            select {
                color: var(--text-color);
                font-size: 18px;
                font-weight: 500;
                border: none;
                border-radius: 3px;
                background-color: var(--grey-2);

                margin-bottom: 15px;
            }

            input {
                --padding: 8px;
                padding: 5px var(--padding);
                width: 100%;
                max-width: calc(100% - var(--padding) * 2);
            }

            select {
                --padding: 8px;
                padding: 5px var(--padding);
            }

            button.submit {
                background-color: var(--primary-1);
            }
        }
    }
}

dialog {
    --padding: 20px;
    padding: var(--padding);
    display: none;

    position: absolute;
    inset: 0;
    margin: auto;

    width: calc(100% - var(--padding) * 2);
    max-width: 80%;

    &._open {
        display: block;
    }

    z-index: 100;
    align-self: center;

    background-color: var(--grey-2);
    color: var(--white-1);
    //border: solid var(--grey-1) 3px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgb(0 0 0 / 19%);

    h3 {
        margin: 0;
        font-size: 24px;
    }

    p {
        font-size: 17px;
        font-weight: 500;
    }

    .buttonbox {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    button {
        background-color: var(--grey-3);
    }
}

body:has(dialog._open)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    background-color: rgba(0, 0, 0, .7);
}

main.about {
    --padding: 15px;
    padding: var(--padding);
    max-height: calc(100% - var(--padding) * 2);
    overflow: auto;

    h2 {
        margin-top: 0px;
    }
}