@import url("./fonts/montserrat.css");
:root {
  --primary-1: #386fa4;
  --primary-2: #59A5D8;
  --grey-1: #1A1B1E;
  --grey-2: #2B2D31;
  --grey-25: #27282b;
  --grey-3: #43444B;
  --success: #14A44D;
  --success-2: #1c6e3d;
  --warning: #E4A11B;
  --warning-2: #a1761f;
  --danger: #DC4C64;
  --danger-2: #9e3c4d;
  --text-color: #fefefe;
  --text-color-2: #9e9e9e;
  --dragheight: 35px;
  color-scheme: dark light;
  background-color: #1A1B1E;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  color: var(--text-color);
  overflow: hidden;
}

body.login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body.login .loginbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.login h1 {
  margin: 0;
  margin-bottom: 20px;
}
body.login #mainLoader {
  --wh: 150px;
  height: var(--wh);
  width: var(--wh);
}
body.login .bottomRow {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
body.login .bottomRow button {
  color: var(--primary-2);
  font-weight: 600;
}
body.login p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

button:focus-visible,
input:focus-visible,
select:focus-visible {
  outline: var(--primary-1) solid 3px;
}

select {
  border-right: 16px solid transparent;
  font-family: Montserrat, sans-serif;
}

button,
a.button {
  background-color: var(--grey-2);
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  border: none;
  padding: 10px 13px;
  border-radius: 7px;
  transition: filter 0.2s ease-in-out;
}
button:hover,
a.button:hover {
  cursor: pointer;
  filter: brightness(0.85);
}
button:disabled,
a.button:disabled {
  filter: brightness(0.6);
}
button:disabled:hover,
a.button:disabled:hover {
  cursor: default;
}
button.icon,
a.button.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
button.icon svg,
a.button.icon svg {
  height: 25px;
  width: 25px;
}
button.icon.icon-smol svg,
a.button.icon.icon-smol svg {
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
}
button.green, button.success,
a.button.green,
a.button.success {
  background-color: var(--success);
}
button.yellow, button.warning,
a.button.yellow,
a.button.warning {
  background-color: var(--warning);
}
button.red, button.danger,
a.button.red,
a.button.danger {
  background-color: var(--danger);
}
button.blue,
a.button.blue {
  background-color: var(--primary-1);
  font-weight: 500;
}
button.clear,
a.button.clear {
  background-color: transparent;
  color: var(--text-color);
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  padding: 0;
}
button.bluetext,
a.button.bluetext {
  color: var(--primary-2);
}
button.redhover:hover,
a.button.redhover:hover {
  background-color: var(--danger);
}

.buttonrow {
  display: flex;
  align-items: center;
  gap: 15px;
}

input {
  background-color: var(--grey-2);
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  color: var(--text-color);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.dragbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--dragheight);
  background-color: var(--grey-1);
  z-index: 20;
  -webkit-app-region: drag;
}
.dragbar .title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
}
.dragbar .title h3 {
  color: var(--white-1);
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  transform: translate(0, -1px);
}
.dragbar .title img {
  height: 18px;
  margin-right: 7px;
  margin-bottom: 1px;
}
.dragbar .btns {
  display: flex;
  justify-content: right;
  align-items: center;
}
.dragbar .btns button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-min-content;
  width: min-content;
  padding: 10px;
  transition: background-color 5ms ease-in-out;
  -webkit-app-region: no-drag;
}
.dragbar .btns button svg {
  height: 15px;
  width: 15px;
}
.dragbar .btns button svg path {
  stroke: var(--white-1);
}
.dragbar .btns button:hover {
  cursor: pointer;
  background-color: var(--grey-25);
}
.dragbar .btns button.close:hover {
  background-color: var(--danger);
}
.dragbar .btns button.close:focus-visible {
  background-color: var(--danger);
  border: none;
  outline: none;
}
.dragbar .btns button:focus-visible {
  background-color: var(--grey-25);
  border: none;
  outline: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal._shown {
  display: flex;
}
.modal .modalBox {
  position: relative;
  background-color: var(--grey-1);
  border-radius: 7px;
  padding: 20px;
  min-width: 30%;
}
.modal .modalBox h2 {
  margin: 0;
  margin-bottom: 20px;
}
.modal .modalBox p {
  margin-top: 0;
}
.modal .modalBox p:last-of-type {
  margin-bottom: 20px;
}
.modal .modalBox .closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
.modal .modalBox .closebtn svg {
  height: 20px;
  width: 20px;
  background-color: transparent;
}
.modal .modalBox.form {
  display: flex;
  flex-direction: column;
}
.modal .modalBox.form input,
.modal .modalBox.form select {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  background-color: var(--grey-2);
  margin-bottom: 15px;
}
.modal .modalBox.form input {
  --padding: 8px;
  padding: 5px var(--padding);
  width: 100%;
  max-width: calc(100% - var(--padding) * 2);
}
.modal .modalBox.form select {
  --padding: 8px;
  padding: 5px var(--padding);
}
.modal .modalBox.form button.submit {
  background-color: var(--primary-1);
}

dialog {
  --padding: 20px;
  padding: var(--padding);
  display: none;
  position: absolute;
  inset: 0;
  margin: auto;
  width: calc(100% - var(--padding) * 2);
  max-width: 80%;
  z-index: 100;
  align-self: center;
  background-color: var(--grey-2);
  color: var(--white-1);
  border: none;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
dialog._open {
  display: block;
}
dialog h3 {
  margin: 0;
  font-size: 24px;
}
dialog p {
  font-size: 17px;
  font-weight: 500;
}
dialog .buttonbox {
  display: flex;
  align-items: center;
  gap: 15px;
}
dialog button {
  background-color: var(--grey-3);
}

body:has(dialog._open)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

main.about {
  --padding: 15px;
  padding: var(--padding);
  max-height: calc(100% - var(--padding) * 2);
  overflow: auto;
}
main.about h2 {
  margin-top: 0px;
}/*# sourceMappingURL=assets.css.map */