@import url("./assets.css");
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-2);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

main {
  display: none;
  flex-direction: column;
  padding-top: var(--dragheight);
  height: calc(100% - var(--dragheight));
}
main._scroll {
  overflow: auto;
}
main.__shown {
  display: flex;
}
main .topRow {
  --padding: 15px;
  padding: var(--padding);
  width: calc(100% - var(--padding) * 2);
  max-height: 55px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .topRow .title {
  display: flex;
  align-items: center;
}
main .topRow .title img {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}
main .topRow .title button {
  background-color: transparent;
  padding: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .topRow .title button svg {
  width: 30px;
  height: 30px;
}
main .topRow .title h1 {
  margin: 0;
}
main .topRow .user {
  --faceheight: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--grey-2);
  padding: 10px 12px;
  border-radius: 7px;
}
main .topRow .user img,
main .topRow .user .actionbox,
main .topRow .user .faceBox {
  height: var(--faceheight);
  width: var(--faceheight);
  min-width: var(--faceheight);
  margin-left: 10px;
  border-radius: 3px;
}
main .topRow .user span {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
}
main .topRow .user .actionbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .topRow .user .actionbox.green {
  background-color: var(--success);
}
main .topRow .user .actionbox.red {
  background-color: var(--danger);
}
main .topRow .user .actionbox svg {
  height: calc(var(--faceheight) - 10px);
  width: calc(var(--faceheight) - 10px);
}
main .topRow .user .faceBox {
  position: relative;
}
main .topRow .user .faceBox img,
main .topRow .user .faceBox .actionbox {
  display: none;
  position: absolute;
  margin-left: 0px;
}
main .topRow .user .faceBox img {
  display: block;
}
main .topRow .user .faceBox:hover img {
  display: none;
}
main .topRow .user .faceBox:hover .actionbox {
  display: flex;
}
main .topRow .dropdowns {
  display: flex;
  max-height: 55px;
  gap: 15px;
}
main .topRow .userlist, main .topRow .profileList {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: max-height 0.3s ease-in-out;
  max-height: 55px;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}
main .topRow .userlist::-webkit-scrollbar, main .topRow .profileList::-webkit-scrollbar {
  width: 0px;
}
main .topRow .userlist ::-webkit-scrollbar-thumb, main .topRow .profileList ::-webkit-scrollbar-thumb {
  background-color: var(--grey-2);
  border-radius: 6px;
}
main .topRow .userlist ::-webkit-scrollbar-track, main .topRow .profileList ::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}
main .topRow .userlist .user, main .topRow .profileList .user {
  background-color: var(--grey-2);
  padding: 10px 12px;
  border-radius: 0px;
}
main .topRow .userlist .user:hover, main .topRow .profileList .user:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
main .topRow .userlist .user:first-of-type, main .topRow .profileList .user:first-of-type {
  border-radius: 7px;
}
main .topRow .userlist .user:last-of-type, main .topRow .profileList .user:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
main .topRow .userlist .profile, main .topRow .profileList .profile {
  background-color: var(--grey-2);
  padding: 10px 12px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}
main .topRow .userlist .profile img, main .topRow .profileList .profile img {
  height: 35px;
  width: 35px;
  border-radius: 3px;
}
main .topRow .userlist .profile:hover, main .topRow .profileList .profile:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
main .topRow .userlist .profile:first-of-type, main .topRow .profileList .profile:first-of-type {
  border-radius: 7px;
}
main .topRow .userlist .profile:last-of-type, main .topRow .profileList .profile:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
main .topRow .userlist:hover, main .topRow .profileList:hover {
  max-height: 330px;
  height: -moz-max-content;
  height: max-content;
}
main .topRow .userlist:hover .user:first-of-type, main .topRow .userlist:hover .profile:first-of-type, main .topRow .profileList:hover .user:first-of-type, main .topRow .profileList:hover .profile:first-of-type {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
main .topRow .profileList {
  position: relative;
}
main .topRow .profileList:hover {
  max-height: 800px;
}
main .topRow .user-out {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 55px;
  width: auto;
}
main .topRow .user-out .userlist {
  z-index: 1000;
  display: block;
  flex-direction: column;
  position: absolute;
  overflow-y: hidden;
  overflow-x: visible;
  height: 300px;
  width: auto;
  transition: max-height 0.3s ease-in-out;
  max-height: 0px;
  right: 0px;
  top: 55px;
}
main .topRow .user-out .user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: visible;
  background-color: var(--grey-2);
  padding: 10px 12px;
  border-radius: 0px;
}
main .topRow .user-out .user:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
main .topRow .user-out .user:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
main .topRow .user-out .user.main {
  border-radius: 7px;
}
main .topRow .user-out:hover .userlist {
  max-height: 300px;
}
main .topRow .user-out:hover .user.main {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
main .mainBox {
  flex-grow: 1;
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  -webkit-mask: linear-gradient(0deg, transparent, white 20%, white 70%, transparent);
  mask: linear-gradient(0deg, transparent, white 20%, white 70%, transparent);
}
main .bottomBox {
  --padding: 15px;
  padding: var(--padding);
  width: calc(100% - var(--padding) * 2);
  transform: translateY(-15px);
  display: flex;
  flex-direction: column;
}
main .bottomBox .top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-15px);
}
main .bottomBox .bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .bottomBox button {
  min-width: 180px;
}
main .bottomBox #profileSelectBtn {
  width: 180px;
  max-width: 200px;
}
main .bottomBox #profileSelectBtn span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .bottomBox .playBtn {
  padding: 10px 80px;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2px;
  background-color: var(--primary-1);
  transform: translateY(-30px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main .settingsBox {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
main .settingsBox .checkBoxInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
main .settingsBox .checkBoxInput div.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 62px;
  overflow: hidden;
}
main .settingsBox .checkBoxInput div.desc .label {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}
main .settingsBox .checkBoxInput div.desc .desc {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color-2);
  margin-top: 10px;
}
main .settingsBox .checkBoxInput select {
  background-color: var(--grey-2);
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-right: 13px solid transparent;
  padding: 10px 13px;
  border-radius: 7px;
  min-width: 170px;
  transition: filter 0.2s ease-in-out;
}
main .settingsBox .checkBoxInput select:hover {
  cursor: pointer;
}
main .settingsBox .checkBoxInput select:disabled {
  filter: brightness(0.6);
}
main .settingsBox .checkBoxInput select:disabled:hover {
  cursor: default;
}
main .settingsBox .checkBoxInput select:focus-visible {
  outline: none;
}
main .settingsBox .checkBoxInput .switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 34px;
  scale: 0.9;
  min-width: 56px;
}
main .settingsBox .checkBoxInput .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
main .settingsBox .checkBoxInput .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
main .settingsBox .checkBoxInput .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
main .settingsBox .checkBoxInput .switch,
main .settingsBox .checkBoxInput .slider,
main .settingsBox .checkBoxInput .slider::before {
  scale: 0.9;
}
main .settingsBox .checkBoxInput input:checked + .slider {
  background-color: var(--primary-2);
}
main .settingsBox .checkBoxInput input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-2);
}
main .settingsBox .checkBoxInput input:checked + .slider:before {
  transform: translateX(26px);
}
main .settingsBox .checkBoxInput .slider.round {
  border-radius: 34px;
}
main .settingsBox .checkBoxInput .slider.round:before {
  border-radius: 50%;
}
main .settingsBox .checkBoxInput.column {
  flex-direction: column;
  align-items: flex-start;
}
main .settingsBox .checkBoxInput .widetextinput {
  --padding: 13px;
  padding: 10px var(--padding);
  width: calc(100% - var(--padding) * 2);
  margin-top: 15px;
}
main .settingsBox .checkBoxInput .range-box {
  display: flex;
  align-items: center;
  width: 100%;
}
main .settingsBox .checkBoxInput .range-container {
  margin-top: 15px;
  flex-grow: 1;
}
main .settingsBox .checkBoxInput .range-container input {
  accent-color: var(--primary-2);
  width: 100%;
  padding: 0;
}
main .settingsBox .checkBoxInput .range-container .range-marks {
  display: flex;
  justify-content: space-between;
}
main .settingsBox .checkBoxInput .range-container .range-marks span {
  font-weight: 600;
}
main .settingsBox .checkBoxInput .mem-box {
  background-color: var(--grey-2);
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}
main .settingsBox .checkBoxInput .mem-box input {
  background-color: transparent;
  border: none;
  padding: 0px;
  border-radius: 0px;
  width: 50px;
  margin-right: 5px;
  text-align: right;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
}
main .settingsBox .checkBoxInput .mem-box input::-webkit-outer-spin-button, main .settingsBox .checkBoxInput .mem-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main .settingsBox .checkBoxInput .mem-box input:focus-visible {
  outline: none;
}
main .settingsBox .checkBoxInput .mem-box span {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
main.profiles {
  flex-direction: column;
}
main.profiles .profilesmain {
  --padding: 30px;
  padding: 0 var(--padding);
  padding-top: 15px;
  width: calc(100% - var(--padding) * 2);
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--searchBarheight));
  max-height: calc(100% - var(--searchBarheight));
}
main.profiles .btns {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
main.profiles .btns .newProfileBtn {
  background-color: var(--primary-1);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
}
main.profiles table {
  --padding: 0px;
  padding: 0 var(--padding);
  width: calc(100% - var(--padding) * 2);
  border-spacing: 0px;
  table-layout: fixed;
}
main.profiles table tr td,
main.profiles table tr th {
  text-align: left;
  padding: 15px;
  font-size: 18px;
  border-bottom: solid var(--grey-3) 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main.profiles table tr td.loader,
main.profiles table tr th.loader {
  vertical-align: middle;
}
main.profiles table tr td.loader img,
main.profiles table tr th.loader img {
  vertical-align: middle;
  height: 30px;
  margin-right: 7px;
  border-radius: 3px;
}
main.profiles table tr td:first-of-type button {
  margin: 0px;
  padding: 0px;
}
main.profiles table tr th {
  font-size: 20px;
}
main.profiles table tr:last-of-type td {
  border-bottom: none;
}
main.profiles table tr td:last-of-type .tablebtns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
main.profiles table tr button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px;
}
main.profiles table tr button.success {
  background-color: var(--primary-1);
}
main.profiles table tr button svg {
  height: 15px;
  width: 15px;
}
main.profiles table tr button:disabled {
  filter: brightness(0.7);
}
main.mods {
  --searchBarheight: 51px;
}
main.mods ::-webkit-scrollbar {
  width: 10px;
}
main.mods ::-webkit-scrollbar-track {
  background-color: var(--grey-1);
}
main.mods ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 7px;
}
main.mods .modmain {
  --padding: 15px;
  padding: 0 var(--padding);
  padding-top: var(--padding);
  width: calc(100% - var(--padding) * 2);
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--searchBarheight));
  max-height: calc(100% - var(--searchBarheight));
}
main.mods .searchBar {
  --padding: 12px;
  padding: 0 var(--padding);
  width: calc(100% - var(--padding) * 2);
  border-radius: 7px;
  height: var(--searchBarheight);
  display: flex;
  align-items: center;
  background-color: var(--grey-2);
}
main.mods .searchBar input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--text-color);
  border-radius: 0;
  font-size: 18px;
  margin: 0;
}
main.mods .searchBar input:focus-visible {
  outline: none;
}
main.mods .searchBar svg {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}
main.mods .searchBar .clearSearchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}
main.mods .searchBar .clearSearchBtn svg {
  margin: 0;
  height: 17px;
  width: 17px;
}
main.mods .modlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  margin: 30px 0;
  padding-right: 10px;
}
main.mods .modlist .noMods {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.mods .modlist .modbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.04);
  margin-bottom: 30px;
}
main.mods .modlist .modbox img {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  border-radius: 7px;
}
main.mods .modlist .modbox:last-of-type {
  margin: 0;
}
main.mods .modlist .modbox .desc h3 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
main.mods .modlist .modbox .desc p {
  font-size: 18px;
  color: var(--text-color-2);
  margin: 0;
}
main.mods .modlist .modbox .desc .tags {
  display: flex;
  align-items: center;
}
main.mods .modlist .modbox .desc .tags .tag {
  display: flex;
  align-items: center;
  background-color: var(--grey-2);
  padding: 5px 7px;
  border-radius: 7px;
  margin: 5px 0;
  margin-left: 7px;
}
main.mods .modlist .modbox .desc .tags .tag:first-child {
  margin-left: 14px;
}
main.mods .modlist .modbox .desc .tags .tag span {
  color: var(--text-color);
  font-size: 14px;
}
main.mods .modlist .modbox .desc .tags .tag svg {
  height: 15px;
  width: 15px;
  margin-right: 7px;
}
main.mods .modlist .modbox .desc .tags button.tag {
  margin: 5px 0;
  margin-left: 7px;
}
main.mods .modlist .modbox .desc .tags button.tag svg {
  margin: 0;
}
main.mods .modlist .modbox .desc .tags button.tag:hover {
  filter: none;
}
main.mods .modlist .modbox .buttons {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
main.mods .modlist .modbox .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-1);
}
main.mods .modlist .modbox .buttons button svg {
  height: 25px;
  width: 25px;
}
main.mods .pagination {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.mods .pagination span {
  font-weight: 600;
  font-size: 20px;
}
main.mods .pagination button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
main.mods .pagination button svg {
  height: 20px;
  width: 20px;
}
main.profileview {
  flex-direction: column;
  --headheight: 60px;
}
main.profileview .profileviewmain {
  --padding: 30px;
  padding: 0 var(--padding);
  padding-top: 15px;
  width: calc(100% - var(--padding) * 2);
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--headheight) - 45px);
  max-height: calc(100% - var(--headheight) - 45px);
}
main.profileview .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  height: var(--headheight);
  max-height: var(--headheight);
}
main.profileview .infoRow {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}
main.profileview .infoRow .loader_icon {
  height: 30px;
  width: 30px;
}
main.profileview .infoRow span {
  font-size: 20px;
}
main.profileview .btns {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
main.profileview .btns button {
  background-color: var(--primary-1);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
}
main.profileview .btns button.grey {
  background-color: var(--grey-2);
}
main.profileview .btns button.grey.redhover:hover {
  background-color: var(--danger);
}
main.profileview .nomods {
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.profileview .nomods span {
  text-align: center;
}
main.profileview .modlist {
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 10px;
}
main.profileview .modlist .loader {
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.profileview .modlist .loader img {
  height: 100px;
  width: 100px;
}
main.profileview .modlist .mod {
  display: flex;
  align-items: center;
  gap: 15px;
}
main.profileview .modlist .mod img {
  height: 70px;
  width: 70px;
  border-radius: 7px;
}
main.profileview .modlist .mod h3 {
  margin: 0;
  font-size: 22px;
}
main.profileview .modlist .mod .titlebox {
  display: flex;
  align-items: center;
  gap: 7px;
}
main.profileview .modlist .mod .tag {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: var(--grey-2);
  padding: 5px 7px;
  border-radius: 7px;
  margin: 5px 0;
  margin-left: 7px;
}
main.profileview .modlist .mod .tag:first-child {
  margin-left: 14px;
}
main.profileview .modlist .mod .tag span {
  color: var(--text-color);
  font-size: 14px;
}
main.profileview .modlist .mod .tag svg {
  height: 15px;
  width: 15px;
}
main.profileview .modlist .mod .modBtns {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}
main.profileview .modlist .mod .modBtns button svg {
  height: 20px;
  width: 20px;
}

#modDownloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
#modDownloadButton svg {
  height: 25px;
  width: 25px;
}

.warnbox {
  position: absolute;
  top: 130px;
  right: -100%;
  background-color: var(--danger);
  border: var(--danger-2) solid 3px;
  color: var(--white-1);
  font-weight: 600;
  border-radius: 12px;
  padding: 12px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 1s ease-in-out;
}
.warnbox.green {
  background-color: var(--success);
  border: var(--success-2) solid 3px;
}
.warnbox span {
  color: var(--white-1);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
}
.warnbox._shown {
  right: 30px;
}

.versionbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin-top: 25px;
}
.versionbox span {
  color: var(--text-color-2);
  text-align: center;
}
.versionbox .version {
  margin-bottom: 15px;
}
.versionbox .disclaimer {
  line-height: 1.5;
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */